*{
    margin: 0px;
    padding: 0px;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    padding: 0 !important;
    background-color: linear-gradient(to right, #a517ba, #5f1782);
    background-color:  #5f1782 !important;
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 500px;
    float: right;
}
.fa-bars{
    color: white;
    font-weight: 600;
}
.navbar-toggler{
     outline: none !important;
}
/*******Banner*******/
#banner{
    background-color: #5f1782 !important;
    color: #fff;
    padding-top: 5%;
}
.promo-title{
    font-weight: 600;
    font-size: 40px;
}
.play-btn{
    width: 45px;
    margin: 20px;
}
#banner a{
    color: #fff;
   text-decoration: none;
}
#services{
    padding: 80px 0px;
}
#services img{
    width: 100px;
    margin-top: 20px;
}
.services{
    padding: 20px;
}
.img-fluid{
    width: 250px;
    margin-bottom: 20px;
}
.services h4{
    text-transform: uppercase;
    padding:  5px;
    margin-top:25px;
}
.title{
      text-transform: uppercase;
}
.title::before{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform:translateY(63px);
}
.title::after{
    content: '';
    background-color: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(8px);
}
#services .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    /*border-raduis: 25px;*/
    background-color: #5f1782 !important;
}
#about-us{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li{
    margin: 10px 0;
}
#about-title
 {
    margin-left: 20px;
}
#about-us img{
    margin-top: 50px;
}

#testimonials{
    margin: 100px 0;
}
.testimonials{
    border-left: 4px solid #7b1798;
    margin: 50px 20px;
}
.testimonials img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}
.user{
    display: inline-block;
    font-size: 12px;
}
/****social media***/

#social-media{
    background: #f8f9fa;
    padding: 50px 0;
}
#social-media p{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
}
.social-icons img{
    width: 60px;
    transition: 0.5s;
}
.social-icons a:hover img{
    transform: translateY(-10px);
}

#footer{
    background-color: #5f1782 !important;
    color: white;
}
.footer img{
    width: 100%
}
.footer-box{
    padding: 20px;
}
.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}
.footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    color: white;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-color: #5f1782 !important;
}
.footer-box .form-control{
    box-shadow: none;
    border: none;
    border-radius: 0px;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary{
    border: none;
    border-radius: 0px;
    margin-top: 30px;
    color: white;
    background-color: #5f1782 !important;
    border: 1px white solid;
}
hr{
    background-color: white;  
}
.copy-right{
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 10px;
}